* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
}


body {
    display: grid;
    place-content: center;
    padding: 16px;
}

#post-message {
    width: 100%;
    height: 60px;
}

#post-form{
    display: grid;
    border: 2px solid gray;
    padding: 8px;
    gap: 4px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 50vh;

    border: 1px solid brown;
    padding: 4px;
}
.content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.content-footer{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.message{
    font-size: 2rem;
}

.id{
    font-size: calc(1rem-4px);
    color: darkgrey;
}

.timeline{
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
    gap: 8px;
}

